<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body>
  <header class="default">
    <div class="containner">
    	<h1><a class="back-to-home" href="/"><span>HE:labs</span></a></h1>
    	<nav id="menu">
        <ul>
        	<li><a href="#process">Process</a></li>
          <li><a href="#team">Team</a></li>
        	<li><a href="#contactus">Contact Us</a></li>
          <li class='has-sub'><a href="#">In Portuguese</a>
            <ul>
              <li><a href='http://startupdev.com.br/'><span>Startup DEV</span></a></li>
              <li><a href='http://helabs.com.br/cloud'><span>HE:cloud</span></a></li>
              <li><a href='http://helabs.com.br/mailing'><span>Mailing</span></a></li>
              <li><a href='http://helabs.com.br/workshops'><span>Workshops</span></a></li>
              <li><a href='http://helabs.com.br/opensource'><span>Open Source</span></a></li>
              <li><a href='http://imprensa.helabs.com.br/'><span>Imprensa</span></a></li>
              <li><a href='http://helabs.com.br/blog/'><span>Blog do Time</span></a></li>
           </ul>
          </li>
        </ul>
    	</nav>
    </div>
  </header>
  {{ content }}
  {% include footer.html %}
</body>
</html>
